body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex {
  display: flex;
}
.centered {
  justify-content: center;
  align-items: center;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.toggle-fav {
  min-width: 140px;
  margin-left: 10px;
}
input{
  margin-left:50px;
  margin-right:15%;
}
ul.forcast-list {
  display: grid; 
  grid-template-columns: repeat(5, minmax(150px, 1fr));
  grid-gap: 30px;
  position: relative;
}

.main-description {
  font-size: 40px;
}

.secondary-description {
  font-size: 30px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 24px;
}

.week-day {
  min-width: 50px;
  max-width: 150px;
}

.brand {
  font-size: 25px;
  margin-left: 5%;
}

.right.nav-links {
  font-size: 30px;
  margin-right: 7%;
}

.large-image {
  min-width: 140px;
}
.curr-city {
  align-items: center
}
button {
  margin: 10px 35px;
}

.btn-toast {
  align-self: flex-start;
  margin-bottom: 30px;
}

@media (max-width: 940px) {
  ul.forcast-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
  }
  .card {
    margin: 10px
  }
  .container {
    width: 100%;
  }
  .main-description {
    font-size: 20px;
  }
  .card-title,
  .flex-col {
    font-size: 16px;
    justify-content: flex-start;
  }
  .filter-container {
    width: 90%;
  }
  .btn-toast, 
  .toggle-fav {
    margin: 5px;
    /* min-width: unset; */
    align-self: center;
    justify-self: center
  }
  .curr-city {
    margin: 15px 5px;
    justify-content: center;
  }
}
@media only screen and (max-width: 600px) {
  .flex-space-between {
    flex-direction: column;
    justify-content: center;
  }
  .toggle-fav {
    margin-right: 15px;
    /* min-width: unset; */
  }
}