body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.flex {
  display: flex;
}
.centered {
  justify-content: space-between;
  align-items: center;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.toogle-fav {
  min-width: 212px;
  margin-left: 10px;
  
}

ul.forcast-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));  
  /* grid-template-columns: 150px 150px 150px 150px 150px;  */
  grid-gap: 10px;
  position: relative;
  justify-content: center;
}

.main-description {
  font-size: 40px;
}

.secondary-description {
  font-size: 30px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.week-day {
  min-width: 50px;
  max-width: 150px;
}

.brand {
  font-size: 25px;
  margin-left: 5%;
}

.right.nav-links {
  font-size: 30px;
  margin-right: 7%;
}

.large-image {
  min-width: 140px;
}

.border-green {
  border: 2px solid green;
}

.border-blue {
  border: 2px solid blue;
}

.border-black {
  border: 2px solid black;
}

.border-yellow {
  border: 2px solid yellow;
}

button {
  margin-right: 35px;
  margin-top: 5px;
}
